@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@layer components {
  .search-closed {
    @apply text-2xl transition-all ease-in-out duration-150 hover:bg-transparent md:hover:bg-slate-600 focus-within:bg-slate-700 place-self-center place-items-center md:flex md:text-3xl xl:text-xl md:text-neutral-400 md:basis-full md:mx-4 md:bg-slate-800 md:rounded-md md:pl-3 md:py-3 xl:py-1
  }

  .search-open {
    @apply text-xl transition-all ease-in-out duration-150 hover:bg-slate-600 focus-within:bg-slate-700 place-self-center place-items-center flex md:flex md:text-3xl xl:text-xl text-neutral-400 bg-slate-800 basis-full md:mx-4 md:bg-slate-800 rounded-md pl-2 md:pl-3 md:py-3 xl:py-1
  }

  .logo-search-open {
    @apply hidden md:flex transition-all ease-in-out basis-full place-self-center md:text-xl md:basis-1
  }

  .logo-search-closed {
    @apply transition-all ease-in-out basis-full place-self-center md:text-xl md:basis-1
  }

  .menu-search-open {
    @apply hidden transition-all ease-in-out text-3xl place-self-center md:flex md:text-4xl xl:hidden lg:pl-4
  }

  .menu-search-closed {
    @apply transition-all ease-in-out text-3xl place-self-center md:text-4xl xl:hidden lg:pl-4
  }

  .input-search-open {
    @apply focus:outline-none placeholder:bg-transparent bg-transparent md:flex text-neutral-100 font-normal text-lg md:text-2xl pl-2 xl:text-xl place-self-center w-full
  }

  .input-search-closed {
    @apply hidden focus:outline-none placeholder:bg-transparent bg-transparent md:flex text-neutral-100 font-normal text-xl md:text-2xl pl-2 xl:text-xl place-self-center w-full
  }

  .menu-on {
    @apply backdrop-blur-2xl w-[100%] h-[100%] absolute top-16 right-0 z-20 transition-all ease-in-out overflow-y-hidden
  }

  .menu-off {
    @apply backdrop-blur-2xl w-[100%] h-[100%] absolute top-16 right-full z-20 transition-all ease-in-out
  }

  .menu-rows {
    @apply flex hover:bg-slate-500/20 transition-all ease-in-out px-6
  }

  .menu-rows-icon {
    @apply pr-2 place-self-center text-white
  }

  .menu-rows-description {
    @apply basis-full place-self-center
  }

  .menu-rows-arrow {
    @apply place-self-center
  }

  .menu-rows-socialmedia {
    @apply place-self-center text-slate-600
  }

  .night-mode-on {
    @apply bg-slate-500 rounded-full h-6 w-6 mt-1 ml-[1.95rem] transition-all ease-in
  }

  .night-mode-off {
    @apply bg-slate-500 rounded-full h-6 w-6 mt-1 ml-1 transition-all ease-in
  }
}
